* {
    box-sizing: border-box;
}

body, p {
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.border {
    border: 1px solid black;
}


/* flexbox */
.flex {
    display: flex;
}

.flex-jc-c {
    justify-content: center;
}

.flex-jc-fe {
    justify-content: flex-end;
}

.flex-jc-s {
    justify-content: flex-start;
}

.flex-ai-c {
    align-items: center;
}

.flex-ai-fe {
    align-items: flex-end;
}

.flex-ai-s {
    align-items:flex-start;
}

.flex-jc-sa {
    justify-content: space-around;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* hamburger menu */

#hamburger-menu {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#hamburger-menu:hover {
    cursor: pointer;
}

#hamburger-menu > span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 3px;
}

#hamburger-menu:hover > span {
    background-color: #ACACA7;
}

/* nav bar */
nav {
    background-color: #2c2c2c;
    height: 60px;
    width: 100vw;
}

.nav-btn {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 75px;
}

.nav-right {
    width: 100%;
}

#profile {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.selected, .nav-btn:hover {
    font-weight: 700;
}

.selected {
    background-color: #ffffff;
    border-radius: 10px;
    color: #2c2c2c;
    padding-top: 6px;
    padding-bottom: 6px;
}

.container {
    padding: 10px;
    width: 90vw;
    z-index: 0;
}

/* carousel */

.arrow {
    border: transparent;
    background-color: transparent;
    color: #E5E8E1;
    font-size: 36px;
    font-weight: 700;
}

.arrow:hover {
    color: #ACACA7;
    cursor: pointer;
}

.active {
    background-color: #ACACA7;
}

.circle {
    border: transparent;
    border-radius: 50%;
    color: #E5E8E1;
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.circle:hover {
    background-color: #ACACA7;
    cursor: pointer;
}

#quote-box {
    background-color: #4C843C;
    border: 1px solid #E5E8E1;
    border-radius: 1em;
    color: #ffffff;
    font-style: italic;
    min-height: 80px;
    min-width: 60vw;
    margin: 10px;
    padding: 15px;
}

.add-btn {
    border: 1px solid #ACACA7;
    background-color: transparent;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.add-btn::before, .add-btn::after {
    content: '';
    background-color: #ACACA7;
    height: 30px;
    width: 3px;
    position: absolute;
}

.add-btn::after {
    transform: rotate(90deg);
}

.add-btn:hover {
    background-color: #E5E8E1;
    cursor: pointer;
}

/* tasks */

.card {
    border: 2px solid #E5E8E1;
    border-radius: 1em;
    background-color: #A4D454;
    color: #ffffff;
    min-height: 200px;
    min-width: 300px;
    width: 325px;
    padding: 10px;
    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px; */
    margin-right: 20px;
}

.card > label {
    margin-top: 5px;
}

.checkbox > input {
    appearance: none; /* gets rid of default styling */
    border: 2px solid #ACACA7;
    border-radius: 50%;
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.checkbox > input:checked {
    border: 2px solid #3c3c3c;
}

.checkbox > input:checked + span {
    text-decoration: line-through;
}

.checkbox > input:checked::before {
    content: '\2713';
    color: #3c3c3c;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    bottom: 3px;
    left: 3px;
}

.card-heading {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.card-heading > input {
    visibility: hidden;
}

.card-heading > input::before {
    content: '\2606';
    color: #E5E8E1;
    font-size: 30px;
    position: absolute;
    visibility: visible;
}

.card-heading > input:checked::before {
    content: '\2605';
    color: #3c3c3c;
    font-size: 40px;
    position: absolute;
    visibility: visible;
}

.card-heading > input:checked::after {
    content: '\2605';
    color: #ffffff;
    font-size: 20px;
    position: relative;
    top: 2px;
    visibility: visible;
}

.card-heading > span {
    font-weight: 600;
}

/* Modal */

.modal {
    display: flex;
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    border: 1px solid #ACACA7;
    border-radius: 1em;
    height: 60vh;
    width: 60vw;
    padding: 40px;
}

.modal-content > form {
    height: 100%;
    width: 100%;
}

.modal-content > form > label {
    margin-bottom: 15px;
    width: 100%;
}

.modal-content > form > label > input {
    font-size: 18px;
    height: 40px;
}

.modal-content > form > label > textarea {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    resize: none;
}

.modal-content > form > label > span {
    font-weight: 700;
    font-size: 20px;
}

.modal-content > form > label > input, textarea {
    width: 85%;
}

#notes {
    height: 600px;
}

#form-btns {
    width: 100%;
}

.form-btn {
    color: #ffffff;
    margin-left: 10px;
    padding: 8px;
    width: 75px;
}

.action {
    border: 1px solid #E5E8E1;
    border-radius: 0.5em;
    background-color: #A4D454;
}

.cancel {
    border: 1px solid #E5E8E1;
    border-radius: 0.5em;
    background-color: #848484;
}

.action:hover, .cancel:hover {
    padding: 6px;
    border: 2px solid #3c3c3c;
}

.close {
    color: #aaa;
    font-size: 36px;
    font-weight: bold;
    height: 36px;
    margin-top: -20px;
    margin-bottom: 10px;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* sidebar */

.sidebar {
    visibility: visible;
    height: 100vh;
    width: 350px;
    position: fixed;
    left: 0;
    z-index: 1;
    background-color: #3c3c3c;
}

.sidebar > .container {
    color: #848484;
    /* border: 1px solid white; */
    width: 325px;
    margin: 10px;
}

.sidebar > .container > .container {
    /* border: 1px solid white; */
    color: #ACACA7;
    width: 280px;
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar > .card {
    background-color: #80B24B;
    border: 2px solid #ACACA7;
    font-size: 18px;
    min-height: 75px;
    margin-right: 0;
    margin-top: 15px;
    cursor: pointer;
}

.sidebar > .card:hover {
    border: 2px solid #ffffff;
}

.line {
    border: 1px solid #848484;
    border-radius: 1em;
}
